.main_h {
  position: fixed;
  top: 0px;
  max-height: 75px;
  z-index: 999;
  width: 100%;
  padding-top: 5px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 5px;
  }
}

.open-nav {
  max-height: 500px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  padding-top: 20px;
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: white;
  opacity: 100;
  top: 0px;
  border-bottom: 1px solid gainsboro;
  height: 600px;
}

.logo {
  width: 150px;
  height: 68px;
  background-image: url(logo.png);
  float: left;
  margin-bottom: 100px;
  margin-top: 0px;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  padding-top: 20px;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding-top: 20px
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: #000;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 13px;
}

.mobile-toggle {
  padding-top: 20px;
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  color: #8f8f8f;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

.sec01 {
  font-size: 22px;
  text-align: justify;
  padding-top: 15px;
  line-height: 1.7;
  color: #666A6D;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.sec01:after{
  content: "easier and for free";
  color: #D4AF37;
  display: inline-block;
  width: 100%;
}

.content {
  padding: 130px 2% 150px;
}

.hero {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(v1.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 180px;
  min-height: 760px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.hero h1 {
  font-size: 55px;
  line-height: 1.3;
}
.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.asymmetric {
  position: relative;
  background-color: #7CCBF2;
  padding-top: 60px;
  padding-bottom: 60px;
}



body {
  margin: 0 auto;
  background-color: #EEEEEE;
  font-family: sans-serif;
}

section {
  padding: 30px;
}

.blank-space {
  height: 0px;
}

h2 {
  margin: 0;
  padding-bottom: 70px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 15px;
}


/* Cards */

.cards-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   grid-gap: 4em 2rem;
}

.card {
   border-radius: 6px;
   box-shadow: 0 20px 40px 0 rgba(173, 181, 189, 0.1);
   border: solid 1px rgba(129, 147, 174, 0.12);
   background-color: #fff;
   padding: 2.3em;
   text-align: center;
   position: relative;
}

.card:first-child::before {
   content: "";
   position: absolute;
   background-color: #ffd25f;
   top: -8px;
   left: -1px;
   width: calc(100% + 2px);
   height: 8px;
   border-radius: 6px 6px 0 0;
}

.card:nth-child(2)::before {
   content: "";
   position: absolute;
   background-color: #63a2ff;
   top: -8px;
   left: -1px;
   width: calc(100% + 2px);
   height: 8px;
   border-radius: 6px 6px 0 0;
}

.card:last-child::before {
   content: "";
   position: absolute;
   background-color: #5ed291;
   top: -8px;
   left: -1px;
   width: calc(100% + 2px);
   height: 8px;
   border-radius: 6px 6px 0 0;
}

.card__body1 {
   padding-top: 1em;
   color: #ffd25f;

}
.card__body2 {
   padding-top: 1em;
   color: #63a2ff;
}
.card__body3 {
   padding-top: 1em;
   color: #5ed291;
}

.card__head {
   --fs-h4: 2rem;
   color: #06c258;
   font-size: var(--fs-h4);
   margin-bottom: 1em;
   color: var(--clr-head);
}


.card__content {
   --fs-body: 1.2rem;
   text-align: center;
   margin-top: 20px;
   margin-right: 50px;
   margin-left: 50px; 
   font-size: 22px;
   color: black;
   font-size: var(--fs-body);
   padding-bottom: 40px;
}



.card-body1 .sub-main{
  width: 20%;
  margin:10px;
  padding-top: 10px;
  float: left;
  padding-bottom: 1000px;
}


.button1 {
  padding: 13px 39px;
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
  line-height: 1.25;
  background: #ffc124;
  text-decoration: none;
  color: white;
  font-size: 18px;
  letter-spacing: .03em;
  text-transform: uppercase;
  position: relative;
  transition: background-color .6s ease;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%,-50%,0);
    background: rgba(white,.1);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
  }
  &:focus,
  &:hover {
      background: darken(#FC6E51,7%);
  }
  &:active {
    &:after {
      width: 200px;
      height: 200px;
    }
  }
}

.button2 {
  padding: 13px 39px;
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
  line-height: 1.25;
  background: #63a2ff;
  text-decoration: none;
  color: white;
  font-size: 18px;
  letter-spacing: .03em;
  text-transform: uppercase;
  position: relative;
  transition: background-color .6s ease;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%,-50%,0);
    background: rgba(white,.1);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
  }
  &:focus,
  &:hover {
      background: darken(#FC6E51,7%);
  }
  &:active {
    &:after {
      width: 200px;
      height: 200px;
    }
  }
}

.button3 {
  padding: 13px 39px;
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
  line-height: 1.25;
  background: #5ed291;
  text-decoration: none;
  color: white;
  font-size: 18px;
  letter-spacing: .03em;
  text-transform: uppercase;
  position: relative;
  transition: background-color .6s ease;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%,-50%,0);
    background: rgba(white,.1);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
  }
  &:focus,
  &:hover {
      background: darken(#FC6E51,7%);
  }
  &:active {
    &:after {
      width: 200px;
      height: 200px;
    }
  }
}
